<%= form_for @resume, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Resume</legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :profession, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :profession, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :birth_date, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :birth_date, :class => 'date_field' %>
      </div>
    </div>
    

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', resumes_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
